/* 
Appearance property - 'textfield' to overwrite default num range indicator + style 
Step attr (transition effect for hover?) 
Background img for icons in inputs - stays pinned at position (vs positioning) 
Border hover - make things respond when active (not with outline - Kevin video)
Diff cursor styles vs 'pointer' (text one) 
Better to use fieldsets + legends vs div's with labels within form? 
Space between alternative - position with offsets at 0 to pin with margins 
Input event type vs :valid + :invalid pseudo classes (inconsistent cross browser - MDN) 
setInvterval() + toFixed()
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(185, 41%, 84%);
}

.logo {
  margin-top: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 460px;
  padding: 30px;
  margin: 30px 0;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.label {
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  color: hsl(186, 14%, 43%);
}

.input {
  width: 100%;
  margin-top: 8px;
  padding: 0.4em 0.4em 0.4em 0.7em;
  border: none;
  border-radius: 5px;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
  font-weight: bold;
  text-align: right;
}

.bill,
.num-ppl {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bill,
.num-ppl,
.tip-selection {
  margin-bottom: 30px;
}

.dollar-icon,
.person-icon {
  position: absolute;
  left: 10px;
  bottom: 16%;
}

.tip-selection label {
  margin-bottom: 10px;
}

.tip-btns-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 40px);
  grid-gap: 13px;
}

.btn {
  color: hsl(0, 0%, 100%);
  background-color: hsl(183, 100%, 15%);
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.tip-btns-container input {
  margin-top: 0;
}

#input-tip::placeholder {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: hsl(183, 100%, 15%);
}

.container-results {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 20px;
}

.container-results-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.heading {
  margin: 8px 0;
  line-height: 0;
  font-size: 0.8em;
  color: hsl(0, 0%, 100%);
}

.per-person {
  color: hsl(184, 14%, 56%);
  font-size: 0.8em;
}

.counter {
  color: hsl(172, 67%, 45%);
  font-size: 1.7em;
  font-weight: bold;
}

.reset-btn {
  margin-top: auto;
  background-color: #0c686d;
  color: hsl(183, 100%, 15%);
  text-transform: uppercase;
  padding: 0.5em;
}
/* ==========================
        ElEMENT STATE 
=============================*/
.input,
.btn:hover {
  cursor: pointer;
}

#btn-reset:hover {
  background-color: #9fe8df;
}

.input:focus {
  outline: none;
  border: 2px solid #80ada8;
}

.input:hover {
  border: 2px solid #80ada8;
}

.btn:hover {
  background-color: #9fe8df;
  color: hsl(183, 100%, 15%);
}

/* ==========================
        JS CLASSES
=============================*/
/* .custom-btn {
  border: 1px solid #80ada8;
} */

.error {
  border: 1px solid #b38578;
}

.error-msg {
  color: #b38578;
  font-size: 1em;
  margin: 0;
}

.selected {
  background-color: #26c2ad;
  color: #0c686d;
}

.disabled {
  display: none;
}

/* ==========================
        MEDIA QUERIES
=============================*/

@media (min-width: 1000px) {
  body {
    justify-content: center;
  }

  .logo {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .wrapper {
    flex-direction: row;
    max-width: 800px;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .container-calculate,
  .container-results {
    flex: 1 50%;
  }

  .container-calculate {
    margin-right: 40px;
  }

  .tip-btns-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 40px);
  }

  .container-results-child {
    margin-bottom: 30px;
  }

  .counter {
    font-size: 2.5em;
  }
}
